
body{
	overflow-x: hidden;
	overflow-y: hidden;
		font-family: Arial, Regular;
}
#wholepage{
	display: inline-block;
	width: 100%;
	font-family: Arial, Regular;
}
.form {
  display: none;
  position: fixed;
  z-index: 5;
  width: 50%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.5%;
margin-top: 3%;
margin-left:20%;
border-radius:40px;
border: none;
}
.input-container{
display: flex;
width: 45%;
margin-top: 3%;
 box-shadow: 2px 0px 10px #888888;
  border-radius: 12px;
}
#input-icons{
	width:7%;
	height: 7%;
	margin-top: 0.5%;
	margin-left:0%;
	margin-right: 1%;
background-color: #20253B;
border-radius: 50%;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 1%;
padding-right: 1%;}
#xx{
	color: #FF0000;
	position: absolute;
	font-size: 200%;
	cursor: pointer;
	margin-left: 85%;
}
input[type=text4]{
	width:120%; 
  margin-top: 0%;
  padding-top:2.5%;
  padding-bottom: 2.5%;
  outline: none;
  background-color: inherit;
  border:none;
}
input[type=text4]::placeholder{opacity: 0.5;}
.right-inputs{
	position: absolute;
	margin-left: 45%;
	margin-top: -25%;
	width: 85%;
}
#save{
	background-color: #27A860;
	color: white;
	width: 15%;
	font-weight: bolder;
	margin-left: 85%;
	margin-top: 5%;
}
#social-mediumletters{
	font-size: 200%;
	text-align: center;
	
}
#smallletters{font-size: 80%;line-height: 110%;font-weight: lighter;margin-left: 0%;margin-bottom: 5%;text-align: center;}

#left-menu{
	width: 40%;
	height: 550px;
	background-color: #0B0F28;

	margin-top: -0.6%;
	margin-left: -0.58%;
}
#name{
	display: none;
	margin-left: 15%;
	color: white;
	font-size: 150%;
	font-weight: bold;
	padding-bottom: 80%;
}
#logo{
	width: 80%;
	margin-left: 7%;
	margin-top: 15%;
}
#overlay{
	width: 7%;
	margin-left: 7%;
	margin-top: 15%;
}
#overlay2{
	width: 7%;
	margin-left: 9%;
	margin-top: 15%;
}
#overlay3{
	width: 7%;
	margin-left: 11%;
	margin-top: 15%;
}
#user{
	position: absolute;
	width: 8%;
	margin-left: 4%;
	margin-top: 2%;
}
#user-input{
	z-index: 2;
	position: absolute;
	width: 20%;
	color: white;
	margin-left:150%; 
	margin-top: -25%;
}
#user-input3{
	z-index: 2;
	position: absolute;
	width: 20%;
	color: white;
	margin-left:210%; 
	margin-top: -33%;
}
#user-input4{
	z-index: 2;
	position: absolute;
	width: 20%;
	color: white;
	margin-left:280%; 
	margin-top: -45%;
}
#user-name{
	position: absolute;
	font-size: 150%;
	margin-top: -60%;
	margin-left: 60%;
}
#user-name3{
	position: absolute;
	font-size: 150%;
	margin-top: -80%;
	margin-left: 85%;
}
#user-name4{
	position: absolute;
	font-size: 150%;
	margin-top: -110%;
	margin-left: 110%;
}
#arrow{
	position: absolute;
	margin-left: 195%; 
	margin-top: -25%;
}
#arrow3{
	position: absolute;
	margin-left: 275%; 
	margin-top: -32%;
}
#arrow4{
	position: absolute;
	margin-left: 360%; 
	margin-top: -45%;
}

hr{
	border: none;
	margin-top: 20%;
	margin-left: 7%;
	width: 50%;
	background-color: #27A860;
	height: 2px;
}
#menu{
	position: absolute;
	width: 4%;
	margin-left: 20%;
	margin-top: -3%;
}
#menu2{
	position: absolute;
	display: none;
	width: 2.5%;
	margin-left: 7%;
	margin-top: -2.5%;
}
#collapse-menu{
	position: absolute;
	width: 4%;
	margin-left: 20%;
	margin-top: -3%;
}
.tab{
	display: inline-block;
	margin-top:5%;
	margin-left: 10%;
}
.tab button.active{
	background-color: #283F79;
	border-color: #283F79;
}
.tab button:hover {
  opacity: 0.5;
}
.tab-icon{
	display: inline-block;
	width: 5%;
	margin-right: 5%;
}
.tablinks{
	position: relative;
	display: inline-block;
	background-color: #0B0F28;
	color: white;
	border:none;
	width: 110%;
	padding-left: 20%;
	margin-top: 0.5%;
	margin-left: -11%;
	text-align: left;
	font-size: 100%;
	
}
.menu-text{
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	width: 50%;
	margin-top: -10%;
	margin-bottom: -10%;
}
.tabcontent{
	position: absolute;
 display: none;
 margin-left: 30%;
 margin-top: -48%;
 color: black;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
#copyright{
	color: white;
	text-align: center;
	margin-top: 20%;
	font-size: 80%;
}
#right-menu{
	margin-left: 10%;
	margin-top: -108%;
}
.header{
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: -6.2%;
	width: 400%;
	margin-top: 3.3%;
}
#header-text{
	color: white;
	font-size: 300%;
	margin-left: 10%;
	font-family: Arial, Regular;
}
#dashboard-head{
	background-color: #0C82C3;
}
#wallet-head{
	background-color: #27A860;
}
#buy-head{
	background-color: #283F79;
	margin-left: -9%;
}
#trans-head{
	background-color: #FFA604;
	margin-left: -6.5%;
}
#profile-head{
	background-color: #A9A6A7;
	margin-left: -12%;
	width: 470%;
}
.dash-box{
	display: inline-block;
	margin-top: 5%;
	width: 100%;
	border-radius: 25px;
	box-shadow: 5px 5px 18px #888888;
}
.wall-box{
	display: inline-block;
	margin-top: 5%;
	width: 100%;
	border-radius: 25px;
	box-shadow: 5px 5px 18px #888888;
}
#box2{
	position: absolute;
	margin-left: 105%;
	margin-top: -39%;
	width: 92%;
}
#box4{
	position: absolute;
	margin-left: 105%;
	margin-top: -40%;
	width: 92%;
}
#box-text{
	font-size: 150%;
	margin-left: 5%;
	box-shadow: 0.5px 0.5px 0px 0px #888;
}
#box-image1{
	margin-left: 5%;
	width: 18%;
	padding-right: 2%;
	padding-top: 6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	margin-top: -6%;
	box-shadow: 1px 0px 2px 0px #888;
}
#box-image2{
	margin-left: 5%;
	width: 16%;
	padding-right: 5%;
	padding-top: 6%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#box-image3{
	margin-left: 5%;
	width: 14.5%;
	padding-right: 5%;
	padding-top: 6%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#box-image4{
	margin-left: 5%;
	width: 16%;
	padding-right: 5%;
	padding-top: 6%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#wallbox-image1{
	margin-left: 5%;
	width: 12%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#wallbox-image2{
	margin-left: 5%;
	width: 12%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#wallbox-image3{
	margin-left: 5%;
	width: 12%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#wallbox-image4{
	margin-left: 5%;
	width: 12%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	margin-top: -6%;
	margin-bottom: -1%;
	padding-bottom: 1%;
	box-shadow: 1px 0px 2px 0px #888;
}
#wallbox2{
	position: absolute;
	margin-left: 105%;
	margin-top: -50%;
	width: 92%;
}
#wallbox4{
	position: absolute;
	margin-left: 105%;
	margin-top: -50%;
	width: 92%;
}
#ico-start{
	background-color: #FF7C43;
	border-radius: 25px;
	color: white;
	width: 210%;
	margin-top: 5%;
	margin-bottom: 100%;
}
#ico-text{
	position: absolute;
	margin-top: -20%;
	margin-left: 40%;
	font-size: 150%;
}
#time1{
	position: absolute;
	margin-left: 105%;
	margin-top: -5%;
}
#time2{
	position: absolute;
	margin-left: 123%;
	margin-top: -5%;
}
#time3{
	position: absolute;
	margin-left: 145%;
	margin-top: -5%;
}
#time4{
	position: absolute;
	margin-left: 170%;
	margin-top: -5%;
}
#exbox1{
	font-size: 200%;
	padding-top: 2%;
	padding-left: 2%;
	width: 50px;
	height: 50px;
	border-radius: 12px;
	margin-left: 103.5%;
	margin-top: -20%;
	position: absolute;
	border:solid 2px white;
}
#exbox2{
	font-size: 200%;
	padding-top: 2%;
	padding-left: 2%;
		width: 50px;
	height: 50px;
	border-radius: 12px;
	margin-left: 123.5%;
	margin-top: -20%;
	position: absolute;
	border:solid 2px white;
}
#exbox3{
	font-size: 200%;
	padding-top: 2%;
	padding-left: 2%;
		width: 50px;
	height: 50px;
	border-radius: 12px;
	margin-left: 147%;
	margin-top: -20%;
	position: absolute;
	border:solid 2px white;
}
#exbox4{
	font-size: 200%;
	padding-top: 2%;
	padding-left: 2%;
		width: 50px;
	height: 50px;
	border-radius: 12px;
	margin-left: 172%;
	margin-top: -20%;
	position: absolute;
	border:solid 2px white;
}
#coin{
	display: inline-block;
	width: 7%;
	margin-left: 5%;
	margin-top: 2%;
	padding-bottom: 2%;
}
#fill-text1{
	margin-top: 2%;
	text-align: center;
	font-size: 120%;
}
#fill-text2{
	margin-top: 2%;
	margin-bottom: 0%;
	text-align: center;
	font-size: 120%;
}
#mediumletters{
	font-size: 75%;
	width: 100%;
	text-align: left;
	margin-left: 15%;
}
input[type=text]{
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  border:solid 2px white;
  border-radius: 12px; 
  background-color: inherit;
  margin-left: 15%;
  color: white;
}
input[type=text2]{
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  border:solid 1px white;
  border-radius: 12px; 
  background-color: #20253B;
  margin-left: 15%;
  color: white;
}
input[type=text3]{
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  border:solid 2px white;
  border-radius: 12px; 
  background-color: #20253B;
  margin-left: 15%;
  color: white;
}
button {
  color: white;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: none;
  border-radius: 15px;
  margin-top: 2%;
  cursor: pointer;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%;
}
#withdrawbtn{
	background-color: #20253B;
}
#tokenbtn{
	background-color: #283F79;
}
#buybtn{
	background-color: #20253B;
	font-size: 150%;
	font-weight: bold;
}
#updatebtn{
	background-color: #FFA604;
	padding-top: 2%;
	padding-bottom: 2%;
}
#updatebtn2{
	background-color: #FFA604;
	padding-top: 1.8%;
	padding-bottom: 1.8%;
	margin-top: 0.7%;
	margin-bottom: 0.5%;
}
.fill{
	width: 100%;
	color: white;
	border-radius: 25px;
	margin-top: -1%;
}
#left-fill{
	background-color: #283F79;

}
#right-fill{
	position: absolute;
	background-color: #20253B;
	margin-top: -100%;
	margin-left:100%;
}
#center-fill{
	position: absolute;
	width: 200%;
	background-color: #20253B;
	margin-top: 30%;
	margin-left:60%;
	border-radius: 50px;
}
#center-fill2{
	position: absolute;
	width: 200%;
	background-color: #FFF;
	color: black;
	margin-top: 0%;
	margin-left:90%;
	border-radius: 50px;
	box-shadow: 2px 2px 5px 2px #888;
}
#center-fill3{
	position: absolute;
	width: 200%;
	background-color: #FFF;
	color: black;
	margin-top: 93%;
	margin-left:90%;
	border-radius: 50px;
	box-shadow: 2px 2px 5px 2px #888;
}
table{
	width:200%;
	margin-left: 15%;
	margin-top: 5%;
	border-radius: 25px;
	box-shadow: 2px 0px 2px 0px #888888;
}
th{
	font-weight: normal;
	padding-top: 2%;
	padding-bottom: 2%;
}
td{
	box-shadow: 2px 0px 5px 0px  #888888;
}
.dropbtn{
	cursor: pointer;
}
#Dropdwn.showmenu{
  display: block;
  
}
#Dropdwn2.showmenu{
  display: block;
  
}
#Dropdwn3.showmenu{
  display: block;
  
}
#Dropdwn4.showmenu{
  display: block;
  
}
#Dropdwn5.showmenu{
  display: block;
  
}

.dropdown{
	overflow: hidden;
}
.dropdown-content1{
	position: absolute;
	z-index: 1;
	width: 50%;
	display: none;
	text-align: center;
	margin-left: 155%;
	margin-top: -10%;
	font-size: 120%;
	border-radius: 25px;
	box-shadow: 1px 1px 1px 1px  #888888;
}
.dropdown-content1 a:hover {
	background-color: #10557B;
}
.dropdown-content1 a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	border-radius: 25px;
	background-color: #0C82C3;
}
.dropdown-content2{
	position: absolute;
	z-index: 1;
	width: 50%;
	display: none;
	text-align: center;
	margin-left: 155%;
	margin-top: -10%;
	font-size: 120%;
	border-radius: 25px;
	box-shadow: 1px 1px 1px 1px  #888888;
}
.dropdown-content2 a:hover {
	background-color: #107C43;
}
.dropdown-content2 a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	border-radius: 25px;
	background-color: #27A860;
}
.dropdown-content3{
	position: absolute;
	z-index: 1;
	width: 70%;
	display: none;
	text-align: center;
	margin-left: 215%;
	margin-top: -10%;
	font-size: 120%;
	background-color: #283F79;
	border-radius: 25px;
	box-shadow: 1px 1px 1px 1px  #888888;
}
.dropdown-content3 a:hover {
	background-color: #0C82C3;
}
.dropdown-content3 a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	border-radius: 25px;
	background-color: #283F79;
}
.dropdown-content4{
	position: absolute;
	z-index: 1;
	width: 50%;
	display: none;
	text-align: center;
	margin-left: 155%;
	margin-top: -10%;
	font-size: 120%;
	background-color: #FFA604;
	border-radius: 25px;
	box-shadow: 1px 1px 1px 1px  #888888;
}
.dropdown-content4 a:hover {
	background-color: #FF7C43;
}
.dropdown-content4 a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	border-radius: 25px;
	background-color: #FFA604;
}
.dropdown-content5{
	position: absolute;
	z-index: 1;
	width: 100%;
	display: none;
	text-align: center;
	margin-left: 280%;
	margin-top: -10%;
	font-size: 120%;
	background-color: #A9A6A7;
	border-radius: 25px;
	box-shadow: 1px 1px 1px 1px  #888888;
}
.dropdown-content5 a:hover {
	background-color: #7D787A;
}
.dropdown-content5 a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	border-radius: 25px;
	background-color: #A9A6A7;
}
#profile-link{
	width: 100%;
	padding-left: 0%;
	margin-top: 0%;
	margin-left: 0%;
	font-size: 100%;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	border-radius: 25px;
}
#droplink{
	border-radius: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	
}
@media only screen and (min-width: 800px) {
#ico-text{
	position: absolute;
	margin-top: -20%;
	margin-left: 40%;
	font-size: 200%;
}
#left-menu{
	width: 30%;
	height: auto;
	background-color: #0B0F28;
	margin-top: -0.6%;
	margin-left: -0.58%;
}
.header{
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: -6.2%;
	width: 400%;
	margin-top: 3.3%;
}
#right-menu{
	margin-left: 0%;
	margin-top: 0%;
}
.tablinks{
	display: inline-block;
	background-color: #0B0F28;
	color: white;
	border:none;
	width: 110%;
	padding-left: 20%;
	margin-top: 0.5%;
	margin-left: -11%;
	text-align: left;
	font-size: 130%;
}
#box2{
	position: absolute;
	margin-left: 105%;
	margin-top: -33.5%;
	width: 92%;
}
#box4{
	position: absolute;
	margin-left: 105%;
	margin-top: -35%;
	width: 92%;
}
#wallbox2{
	position: absolute;
	margin-left: 105%;
	margin-top: -25%;
	width: 92%;
}
#wallbox4{
	position: absolute;
	margin-left: 105%;
	margin-top: -28%;
	width: 92%;
}
#right-fill{
	position: absolute;
	background-color: #20253B;
	margin-top: -48%;
	margin-left:100%;
}
}

